<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title th:text="#{application.title}"></title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{/css/modern-business.css}"/>

</head>

<body>

  <!-- Navigation -->
  <div th:replace="fragments/menu :: menu"></div>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Full Width
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="indexMenu">Home</a>
      </li>
      <li class="breadcrumb-item active">Full Width</li>
    </ol>

    <p>Most of Start Bootstrap's unstyled templates can be directly integrated into the Modern Business template. You can view all of our unstyled templates on our website at
      <a href="http://startbootstrap.com/template-categories/unstyled">http://startbootstrap.com/template-categories/unstyled</a>.</p>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:insert="~{fragments/footer :: footer}">...</div>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" th:src="@{/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
